<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    
    <style type="text/css">
    	#app {
    		height: 20em;
    	}
    </style>
    <style type="text/css">
    	@import url('chat.component.css');
    </style>
</head>
<body>
	<h1>Demo</h1>

	<div id="app">
		<button v-on:click="performAttack">Attack</button>
		<chat-panel></chat-panel>
	</div>
	
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
	
	<script id="chat-template" type="text/x-template">
<div class="command-panel">
	<ul v-scroll-bottom>
		<li v-for="m in messages">
			<!-- TODO: make into components? -->
			<span v-if="m.message"><strong>{{m.sourceId}}: </strong>{{m.message}}</span>
			<span v-if="m.attack">{{m.attack.sourceId}} attacks {{m.attack.targetId}} for {{m.damageDelt}} damage.</span>
		</li>
	</ul>
	<form v-on:submit.prevent v-on:submit="sendCommand">
		<input v-model="command" />
		<button type="submit">Send</button>
	</form>
</div>
	</script>
	<script type="text/javascript" src="chat.component.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>